// link styles

/**
 * Get the link color values from Adobe kuler flat ui color scheme
 * @url https://color.adobe.com/Flat-UI-color-theme-2469224/
 */
// unvisited link
a:link {
    color: #2C3E50;
}

// visited link
a:visited {
    color: #E74C3C;
}

// mouse over link
a:hover {
    color: #3498DB;
}

// selected link
a:active {
    color: #2980B9;
}
