ul
  li: a(href="/") Welcome
  li: a(href="/create-github-project-and-link-to-local") Init GitHub
  li: a(href="/link-github-to-local-project") Link GitHub
  li: a(href="/install-bootstrap-4-alpha-using-npm") Install Bootstrap
