extends _layouts/base

block content
  .row
    .col-md-9
      h1 Welcome to building a website step by step
      p This is going to be fun!
    .col-md-3
      nav
        h2 Navigation
        ul
          li: a(href="index.html") Welcome
